# {{ ansible_managed }}
---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Devices:
  {{ devices | to_nice_yaml(indent=2) | indent(2, False) }}

- Utilities:
  {{ utilities | to_nice_yaml(indent=2) | indent(2, False) }}

- Applications:
  {{ applications | to_nice_yaml(indent=2) | indent(2, False) }}
