# {{ ansible_managed }}
---

# Use the same networks as internet-monitoring.
{# Make sure home assistant and nginx-proxy are in the same network #}
{% if domain.enable and domain.base %}
networks:
  front-tier:
    name: internet-monitoring-front-tier
    external: true
  back-tier:
    name: internet-monitoring-back-tier
    external: true
{% endif %}

services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    depends_on:
      - mqtt
      - zigbee2mqtt
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./data/home-assistant/config:/config
    environment:
      PUID: '${PUID:-1000}'
      PGID: '${PGID:-1000}'
{% if domain.enable and domain.base and services.homeassistant.subdomain %}
      VIRTUAL_HOST: '{{ services.homeassistant.subdomain }}.{{ domain.base }}'
      VIRTUAL_PORT: 8123
{% if services.ssl.enable %}
      LETSENCRYPT_HOST: '{{ services.homeassistant.subdomain }}.{{ domain.base }}'
{% endif %}
{% endif %}
    restart: unless-stopped
    ports:
      - 8123:8123
    networks:
{% if domain.enable and domain.base %}
      - front-tier
{% endif %}
      - back-tier

  mqtt:
    container_name: mqtt
    environment:
      PUID: '${PUID:-1000}'
      PGID: '${PGID:-1000}'
    image: eclipse-mosquitto:latest
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./data/mqtt:/mosquitto
    ports:
      - 1883:1883
      - 9001:9001
    networks:
      - back-tier
    command: mosquitto -c /mosquitto-no-auth.conf

  zigbee2mqtt:
    container_name: zigbee2mqtt
    environment:
      PUID: '${PUID:-1000}'
      PGID: '${PGID:-1000}'
{% if domain.enable and domain.base and services.zigbee2mqtt.subdomain %}
      VIRTUAL_HOST: '{{ services.zigbee2mqtt.subdomain }}.{{ domain.base }}'
      VIRTUAL_PORT: 7070
{% if services.ssl.enable %}
      LETSENCRYPT_HOST: '{{ services.zigbee2mqtt.subdomain }}.{{ domain.base }}'
{% endif %}
{% endif %}
    restart: unless-stopped
    image: koenkk/zigbee2mqtt:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./data/zigbee2mqtt:/app/data
    ports:
      - 7070:7070
    networks:
{% if domain.enable and domain.base %}
      - front-tier
{% endif %}
      - back-tier
