# {{ ansible_managed }}
---

# Use the same networks as internet-monitoring.
{# Make sure homepage and nginx-proxy are in the same network #}
{% if domain.enable and domain.base %}
networks:
  front-tier:
    name: internet-monitoring-front-tier
    external: true
{% endif %}

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
{% if domain.enable and domain.base %}
    environment:
      HOMEPAGE_ALLOWED_HOSTS: '{{ domain.base }}'
      VIRTUAL_HOST: '{{ domain.base }}'
      VIRTUAL_PORT: 3000
{% if services.ssl.enable %}
      LETSENCRYPT_HOST: '{{ domain.base }}'
{% endif %}
{% endif %}
    volumes:
      - ./config:/app/config
      - ./images:/app/public/images
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 3100:3000
    restart: unless-stopped
{% if domain.enable and domain.base %}
    networks:
      - front-tier
{% endif %}
    dns:
      {{ dns_servers | to_nice_yaml() | indent(6, False) }}
