# {{ ansible_managed }}
---

# Use the same networks as internet-monitoring.
{# Make sure homepage and nginx-proxy are in the same network #}
{% if domain.enable and domain.base %}
networks:
  front-tier:
    name: internet-monitoring-front-tier
    external: true
{% endif %}

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
{% if domain.enable and domain.base %}
    environment:
      PUID: '${PUID:-1000}'
      PGID: '${PGID:-1000}'
      HOMEPAGE_ALLOWED_HOSTS: '{{ domain.base }}'
      VIRTUAL_HOST: '{{ domain.base }}'
      VIRTUAL_PORT: 3000
{% if enabled_services.ssl %}
      LETSENCRYPT_HOST: '{{ domain.base }}'
{% endif %}
{% endif %}
    volumes:
      - ./config:/app/config
      - ./images:/app/public/images
    ports:
      - 3100:3000
    restart: unless-stopped
{% if domain.enable and domain.base %}
    networks:
      - front-tier
{% endif %}
