# {{ ansible_managed }}
---

# Use the same networks as internet-monitoring.
{# Make sure home assistant and nginx-proxy are in the same network #}
{% if domain_name_enable and domain_name %}
networks:
  front-tier:
    name: internet-monitoring-front-tier
    external: true
{% endif %}

services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    depends_on:
      - mqtt
      - zigbee2mqtt
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./home-assistant/config:/config
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
{% if domain_name_enable and domain_name and domain_homeassistant %}
      - VIRTUAL_HOST={{ domain_homeassistant }}.{{ domain_name }}
      - VIRTUAL_PORT=8123
{% if ssl_enable %}
      - LETSENCRYPT_HOST={{ domain_homeassistant }}.{{ domain_name }}
{% endif %}
{% endif %}
    restart: unless-stopped
    ports:
      - 8123:8123

  mqtt:
    container_name: mqtt
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    image: eclipse-mosquitto:latest
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./mqtt/data:/mosquitto
    ports:
      - 1883:1883
      - 9001:9001
    command: mosquitto -c /mosquitto-no-auth.conf

  zigbee2mqtt:
    container_name: zigbee2mqtt
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
{% if domain_name_enable and domain_name and domain_zigbee2mqtt %}
      - VIRTUAL_HOST={{ domain_zigbee2mqtt }}.{{ domain_name }}
      - VIRTUAL_PORT=8081
{% if ssl_enable %}
      - LETSENCRYPT_HOST={{ domain_zigbee2mqtt }}.{{ domain_name }}
{% endif %}
{% endif %}
    restart: unless-stopped
    image: koenkk/zigbee2mqtt:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./zigbee2mqtt/data:/app/data
    ports:
      - 8080:8081
