# {{ ansible_managed }}
---
# Use the same networks as internet-monitoring.
{# Make sure pihole and nginx-proxy are in the same network #}
networks:
{% if domain.enable %}
  front-tier:
    name: internet-monitoring-front-tier
    external: true
{% endif %}
  back-tier:
    name: internet-monitoring-back-tier
    external: true

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    hostname: {{ services.pihole.subdomain }}
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
{% if domain.enable %}
      - "38080:80/tcp"
      - "3443:443/tcp"
{% else %}
      - "80:80/tcp"
      - "443:443/tcp"
{% endif %}
    environment:
      TZ: '{{ services.pihole.timezone }}'
      FTLCONF_webserver_api_password: '{{ services.pihole.password }}'
      WEBPASSWORD: '{{ services.pihole.password }}'
      FTLCONF_dns_listeningMode: '{{ services.pihole.dns_listeningMode }}'
{% if domain.enable %}
      FTLCONF_dns_reply_host_IPv4: '{{ domain.ip_address }}'
      FTLCONF_dns_reply_host_force4: 'true'
{% endif %}
{% if domain.enable and domain.base and services.pihole.subdomain %}
      VIRTUAL_HOST: '{{ services.pihole.subdomain }}.{{ domain.base }}'
      VIRTUAL_PORT: 80
{% if services.ssl.enable %}
      LETSENCRYPT_HOST: '{{ services.pihole.subdomain }}.{{ domain.base }}'
{% endif %}
      PROXY_LOCATION: '{{ services.pihole.subdomain }}'
    networks:
      - front-tier
      - back-tier
{% endif %}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN

  pihole-exporter:
    container_name: pihole-exporter
    image: ekofr/pihole-exporter:latest
    restart: unless-stopped
    hostname: 'pihole-exporter'
    ports:
      - "9617:9617"
    environment:
      PIHOLE_HOSTNAME: '{{ services.pihole.subdomain }}'
      PIHOLE_PASSWORD: '{{ services.pihole.password }}'
      INTERVAL: '30s'
      PORT: 9617
    networks:
      - back-tier
