---
global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s
  external_labels:
    monitor: 'Alertmanager'

rule_files:
  - 'alert.rules'

scrape_configs:
{% if services.prometheus.monitor_prometheus %}
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
{% endif %}

  - job_name: 'speedtest'
    metrics_path: /metrics
    scrape_interval: {{ services.monitoring.speedtest_interval }}
    scrape_timeout: 60s  # running speedtest needs time to complete
    static_configs:
      - targets: ['speedtest:9798']

{% if services.shelly_plug.enable %}
  - job_name: 'shelly-plug'
    metrics_path: /metrics
    scrape_interval: 1m
    static_configs:
      - targets: ['{{ ansible_facts.default_ipv4.address }}:9924']
{% endif %}

{% if services.airgradient.enable %}
{% for sensor in services.airgradient.sensors %}
  - job_name: 'airgradient-{{ sensor.id }}'
    metrics_path: /metrics
    scrape_interval: 30s
    static_configs:
      - targets: ['{{ sensor.ip }}:{{ sensor.port }}']
{% endfor %}
{% endif %}

  - job_name: 'ping'
    metrics_path: /probe
    scrape_interval: {{ services.monitoring.ping_interval }}
    params:
      module: [http_2xx]  # Look for a HTTP 200 response.
    file_sd_configs:
      - files:
          - pinghosts.yaml
    relabel_configs:
      - source_labels: [__address__]
        regex: '(.*);(.*)'  # first is the url, thus unique for instance
        target_label: instance
        replacement: $1
      - source_labels: [__address__]
        regex: '(.*);(.*)'  # second is humanname to use in charts
        target_label: humanname
        replacement: $2
      - source_labels: [instance]
        target_label: __param_target
      - target_label: __address__
        replacement: ping:9115  # The blackbox exporter's real hostname:port.

  - job_name: 'node'
    static_configs:
      - targets: {{ services.prometheus.node_exporter_targets | to_yaml }}

{% if services.pihole.enable %}
  - job_name: '{{ domain.subdomains.pihole }}'
    static_configs:
      - targets: ['{{ domain.subdomains.pihole }}-exporter:9617']
{% endif %}

{% filter indent(width=2,first=True) %}
{{ services.prometheus.extra_scrape_configs }}
{% endfilter %}
