# {{ ansible_managed }}
---

# Use the same networks as internet-monitoring.
networks:
#  front-tier:
#    name: internet-monitoring-front-tier
#    external: true
  back-tier:
    name: internet-monitoring-back-tier
    external: true

services:
  shelly-plug:
    container_name: shelly-plug
    image: php:8-apache
    ports:
      - "9924:80"
    environment:
      SHELLY_HOSTNAME: '{{ services.shelly_plug.hostname }}'
      SHELLY_HTTP_USERNAME: '{{ services.shelly_plug.http_username }}'
      SHELLY_HTTP_PASSWORD: '{{ services.shelly_plug.http_password }}'
    volumes:
      - './:/var/www/html'
    restart: unless-stopped
    networks:
      - back-tier

